.main-home-photo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.me {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.749);
  border-radius: 20px;
  padding: 2vw;
}

.name {
  font-size: 5rem;
  color: white;
}

.blurb {
  color: rgb(161, 160, 160);
  font-size: 3rem;
}
