.selected-projects-all {
  padding: 5vh 1vw 10vh 1vw;
  background-color: black;
}

.selected-projects-head {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.selected-projects {
  display: flex;
  flex-flow: row nowrap;
}

.selected-projects > div {
  min-height: 35vh;
}

@media (max-width: 500px) {
  .selected-projects {
    flex-flow: column wrap;
    width: 100vw;
  }
}
